*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background: #285956;
}


/**************** container ********************/

.container{
    position: absolute;
    width: 60%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-image: radial-gradient(#29674b 2%, #070908 41%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-radius: 20px;
    flex-wrap: wrap;
}

/********************* container_left *******************/

.content_left{
    height: 100%;
    flex-basis: 35%;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.content_left .form{
    margin-top: 180px;
}

.form h4{
    margin-bottom: 30px;
}

.form .form_group{
    width: 100%;
    margin-bottom: 20px;
}

.form_group_password{
    width: 100%;
    margin-top: 20px;
}

.form_group .form_label{
   display: block;
   margin-bottom: 10px;
   font-size: 14px;
} 

.form_group_password .form_label{
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
    float:right;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.form_group .form_input, .form_group_password .form_input{
    border: 0;
    outline: 0;
    background: white;
    padding: 15px 20px;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    color: #292626;
 } 

 .form_group_password .form_input{
    background: #4eb27f;
    cursor: pointer;
    color: white;
 }

 .content_left .media_sociaux{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 }

 .content_left .media_sociaux div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    margin-top: 30px;
    margin-right: 20px;
 }

 .content_left .media_sociaux img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
 }

 .content_left .create_account{
    width: 100%;
    margin-top: 100px;
 }

 .content_left .create_account a{
    color: white;
    font-size: 14px;
    float: right;
    margin-right: 20px;
 }

/********************* container_right *******************/

.content_right{
    position: relative;
    height: 100%;
    flex-basis: 50%;
    background: #070908;
    
}

/*********************content__right__1 *************/

.content__right__1{
    width: 83%;
    height: 12%;
    background: #4eb27f;
    border-radius: 20px 60px 0 0;
}

/*********************content__right__2 *************/

.content__right__2{
    height: 88%;
    background: #4eb27f;
    border-radius: 0 60px 20px 20px;
    padding: 20px;
}

.content__right__2__start{
    height: 60%;
    position: relative;
    margin-left: 10px;
}

.content__right__2__end{
    position: relative;
    height: 40%;
    background: #4eb27f;
}

.content__right__2__end .container__first{
    width: 82%;
    height: 32%;
    background: #f4faf8;
    border-radius: 20px 50px 0 0;
    padding: 40px;
}

.content__right__2__start #paragrafhe_description {
    position: absolute;
    top:90px;
    color: white;
}

.content__right__2__start #paragrafhe_description p:last-child{
    margin-top: 10px;
}

.content__right__2__start .image__user{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 100%;
    width: 100%;
}


.image__user .derscribr__image img{
    width: 360px;
    padding-left: 30px;
    padding-top: 50px;
}

.content__right__2__start .button_next_prev{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

.content__right__2__start  .user_job{
    position: absolute;
    bottom: 40%;
    color: white;
}

.content__right__2__start  .user_job p{
    margin-top: 10px;
}

.content__right__2__start  .user_job h2{
    font-size: 20px;
}

.button_next_prev .prev,
.button_next_prev .next{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    background: #11291c;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.button_next_prev .next{
    margin-left: 10px;
    color: white;
}

.button_next_prev .prev{
    color:#4eb27f;
    background: #dcfbef;
}

.content__right__2__end .container__second{
    height: 68%;
    background: #f4faf8;
    border-radius: 0 50px 30px 20px;
    padding: 60px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__second .container__second_right{
    align-self:flex-end;
    flex-basis: 30%;
}

.container__second_right .container__second_right_aligne{
    display: flex;
    align-items: center;
    position: relative;
}

.container__second_right_aligne img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container__second_right_aligne img:first-child{
    position: absolute;
    right: 90px;
    z-index: 4;
}

.container__second_right_aligne img:nth-child(2){
    position: absolute;
    right: 70px;
    z-index: 3;
}

.container__second_right_aligne img:nth-child(3){
    position: absolute;
    right:50px;
    z-index: 2;
}

.container__second_right_aligne div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #070908;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    position: absolute;
    right:30px;
    z-index: 1;
}

.container__second .container__second_left{
    flex-basis: 60%;
    position: relative;
}

.container__first h2{
    position: absolute;
    top: 55px;
    font-size: 20px;

}

.content__right__2__end .container__end{
    position: absolute;
    top: 0;
    right: 0;
    height: 33%;
    width: 19%;
    background: #4eb27f;
    border-radius: 40px 0px 0 13px;
    z-index: 10;
}

.content__right__2__end .image_etoile img{
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 20;
    width: 95px;
}

/******************* content__right__1 ******************/
.content_right .content__right__1 {
    color: white;
    padding: 35px 30px 0 30px;
    font-size: 22px;
}

.content_right .content__right__1 h1 {
    padding-left: 10px;
}

.content_right .content__right__1 p{
    margin-top: 10px;
}


/*********************content__right__3 *************/
.content__right__3{
    position: absolute;
    top: 0;
    right: 0;
    height: 13%;
    width: 18%;
    background: #070908;
    border-radius: 50px 0px 0 20px;
    z-index: 10;
}

#paragrafhe_description p{
    line-height: 1.7;
    margin-right: 20px;
}



/***************** MOBILE ****************************/

@media(max-width:2000px){
    .content_right .content__right__1 {
        font-size: 22px;
    }
}

@media(max-width:1550px){
    .content_right .content__right__1 {
        font-size: 20px;
    }
}

@media(max-width:1020px){
    .content_right .content__right__1 {
        font-size: 19px;
    }
}

@media(max-width:983px){
    .content_right .content__right__1 {
        font-size: 18px;
    }
}

@media(max-width:983px){
    .content_right .content__right__1 {
        font-size: 17px;
    }
}

@media(max-width:990px){
    .container__first h2 {
        font-size: 25px;
    }
}

/* @media(max-width:1874px){
    .container__second_left p{
        font-size: 14px;
    }

    .paragrafhe_description p{
        font-size: 14px;
    }
}  */


@media(max-width:1800px){
    .content__right__2__end .image_etoile img {
        width: 80px;
        top: 0;
    }

    .container {
        position: absolute;
        width: 70%;
    }
}

@media(max-width:1540px){
    .container {
        position: absolute;
        width: 80%;
    }
}

@media(max-width:1269px){
    .container {
        position: absolute;
        width: 90%;
    }
}

@media(max-width:1130px){
    .container {
        position: absolute;
        width: 99%;
    }
}

@media(max-width:783px){
    .content_right{
        flex-basis: 99%;
        margin-top: 30px;
        background: #285956;
        /*display: none;*/
        
    }

    .content_left{
        flex-basis: 90%;
        margin-left: 0; 
        margin-right:0;
    }

    .container {
        position: absolute;
        width: 99%;
        justify-content:space-around;
        padding: 0;
    }

    .content__right__3 {
        background: #285956;
    }

    .content_left h4{
        margin-top: 20px;
    }

    .content_right .content__right__1 {
        font-size: 22px;
    }

    .container__second_left p{
        font-size: 19px;
    }

    .paragrafhe_description p{
        font-size: 19px;
    }

    .content_right .content__right__1 {
        font-size: 19px;
    }
}

@media(max-width:752px){
    .content_right .content__right__1 {
        font-size: 17px;
    }
}

@media(max-width:590px){
    .container__first h2 {
        font-size: 20px;
    }

    .container__second_left p {
        font-size: 17px;
    }

    .paragrafhe_description p{
        font-size: 17px;
    }

    .content__right__2__start #paragrafhe_description p:last-child {
        margin-top: -10px;
    }
}

@media(max-width:540px){
    .content__right__2__start .button_next_prev {
        margin-bottom: 40px;
    }

    .content__right__2__start .user_job {
        bottom: 35%;
    }
}

@media(max-width:525px){
    .container__first h2 {
        font-size: 18px;
        top: 60px;
    }
    .container__second_left p {
        font-size: 14px;
    }

    .paragrafhe_description p{
        font-size: 14px;
    }
}

@media(max-width:494px){
    .container__first h2 {
        font-size: 18px;
        top: 65px;
    }
    .container__second_left p {
        font-size: 12px;
    }

    .paragrafhe_description p{
        font-size: 12px;
    }
}

@media(max-width:479px){
    .container__first h2 {
        font-size: 16px;
        top: 60px;
    }
}

@media(max-width:443px){
    .container__second_left p {
        font-size: 11px;
    }

    .paragrafhe_description p{
        font-size: 11px;
    }
    .container__first h2 {
        font-size: 16px;
        top: 65px;
    }
}

@media(max-width:414px){
    .container__first h2 {
        font-size: 17px;
        top: 70px;
    }
}

@media(max-width:400px){
    .content_right .content__right__1 {
        font-size: 15px;
    }
}

@media(max-width:390px){
    .content__right__2__start #paragrafhe_description {
        top: 75px;
    }
    .container__first h2 {
        top: 60px;
    }
}

@media(max-width:393px){
    .content__right__2__start #paragrafhe_description {
        top: 75px;
    }
}

@media(max-width:375px){
    .content_left .form {
        margin-top: 50px;
    }

    .content_left .create_account a {
        position: absolute;
        bottom: 30px;
        right: 0;
    }

    .content__right__2__start .button_next_prev {
        margin-bottom: 20px;
    }

    .content__right__2__start .user_job {
        bottom: 90px;
    }

    .content__right__2__end .container__second {
        padding: 60px 20px;
    }
    .content__right__2__end .container__first {
        padding: 20px;
    }
    .container__first h2 {
        top: 40px;
    }
    .content__right__2__end .image_etoile img {
        width: 70px;
    }

    .content_right .content__right__1 {
        font-size: 14px;
    }

    .content__right__2__start #paragrafhe_description p:last-child {
        margin-top: -10px;
    }
}

@media(max-width:360px){
    .content__right__2__end .image_etoile img {
        width: 60px;
    } 

    .container__first h2 {
        font-size: 15px;
        top: 50px;
    }

    .content_right .content__right__1 {
        font-size: 14px;
    }

    .content__right__2__start .button_next_prev {
        margin-bottom: 40px;
    }

    .content__right__2__start .user_job {
        bottom: 125px;
    }

    .content__right__2__start #paragrafhe_description p:last-child {
        margin-top: -10px;
    }
}

@media(max-width:394px){
    
    .content__right__2__end .container__second {
        padding: 60px 20px;
    }
    .content__right__2__end .container__first {
        padding: 20px;
    }
    .container__first h2 {
        top: 50px;
    }

    .content__right__2__end .image_etoile img {
        width: 75px;
    }
}


 @media(max-width:650px){
    .image__user .derscribr__image img {
        width: 310px;
    }
}

@media(max-width:611px){
    .image__user .derscribr__image img {
        width: 280px;
    }
}

@media(max-width:582px){
    .image__user .derscribr__image img {
        width: 250px;
    }
}

@media (max-width: 549px){
    .image__user .derscribr__image img {
        width: 210px;
    }
}

@media (max-width: 501px){
    .image__user .derscribr__image img {
        width: 200px;
    }
}








